body {
    margin: 0;
    
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

/* Container */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header {
    display: flex;
    align-items: center;

    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: #000;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

/* Navigation */
.navigation {
    display: flex;
    
    margin: 0 30px;
}

.navigation__link {
    font-size: 15px;
    text-transform: uppercase;

    margin: 0 10px;

    color: #fff;
    text-decoration: none;

    transition: color 0.2s linear;
}

.navigation__link:hover {
    color: aqua;
}
 
.navigation__icon {
    margin: 0 10px;
}

.navigation__icon ion-icon {
    color:#fff
}

.navigation__icon ion-icon:hover {
    color: aqua;
}

/* Section */
.section__menu {
    display: flex;
    align-items: center;

    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: gainsboro;
}

.section__link {
    font-size: 15px;
    text-transform: uppercase;

    margin: 0 10px;

    color: #000;
    text-decoration: none;

    transition: color 0.2s linear;
}

.section__link:hover {
    color: crimson;
}

/* Blog */
.blog {
    display: flex;
    justify-content: space-between;
}

.blog__item {
    width: 20%;

    padding-top: 20px;

    transition: color 0.2s linear;
}

.blog__content {
    padding-top: 5px;
}

.blog__title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    
    color: #000;
    text-decoration: none;
}

.blog__title:hover {
    color:cadetblue
}

.blog__text {
    padding-top: 5px;

    font-size: 14px;
    color:grey;
}

.blog__footer {
    margin-top: 20px;
    padding-top: 5px;

    border-top: 1px solid #a9a9a9;

    font-size: 14px;
    font-style: italic;
    color: #999
}